# 星巴克毕业项目

### 简介

这个数据集是一些模拟 Starbucks rewards 移动 app 上用户行为的数据。每隔几天，星巴克会向 app 的用户发送一些推送。这个推送可能仅仅是一条饮品的广告或者是折扣券或 BOGO（买一送一）。一些顾客可能一连几周都收不到任何推送。 

顾客收到的推送可能是不同的，这就是这个数据集的挑战所在。

# 你的任务是将交易数据、人口统计数据和推送数据结合起来判断哪一类人群会受到某种推送的影响。这个数据集是从星巴克 app 的真实数据简化而来。因为下面的这个模拟器仅产生了一种饮品， 实际上星巴克的饮品有几十种。

每种推送都有有效期。例如，买一送一（BOGO）优惠券推送的有效期可能只有 5 天。你会发现数据集中即使是一些消息型的推送都有有效期，哪怕这些推送仅仅是饮品的广告，例如，如果一条消息型推送的有效期是 7 天，你可以认为是该顾客在这 7 天都可能受到这条推送的影响。

数据集中还包含 app 上支付的交易信息，交易信息包括购买时间和购买支付的金额。交易信息还包括该顾客收到的推送种类和数量以及看了该推送的时间。顾客做出了购买行为也会产生一条记录。 

同样需要记住有可能顾客购买了商品，但没有收到或者没有看推送。

### 示例

举个例子，一个顾客在周一收到了满 10 美元减 2 美元的优惠券推送。这个推送的有效期从收到日算起一共 10 天。如果该顾客在有效日期内的消费累计达到了 10 美元，该顾客就满足了该推送的要求。

# 然而，这个数据集里有一些地方需要注意。即，这个推送是自动生效的；也就是说，顾客收到推送后，哪怕没有看到，满足了条件，推送的优惠依然能够生效。比如，一个顾客收到了"满10美元减2美元优惠券"的推送，但是该用户在 10 天有效期内从来没有打开看到过它。该顾客在 10 天内累计消费了 15 美元。数据集也会记录他满足了推送的要求，然而，这个顾客并没被受到这个推送的影响，因为他并不知道它的存在。

### 清洗

清洗数据非常重要也非常需要技巧。

你也要考虑到某类人群即使没有收到推送，也会购买的情况。从商业角度出发，如果顾客无论是否收到推送都打算花 10 美元，你并不希望给他发送满 10 美元减 2 美元的优惠券推送。
# 所以你可能需要分析某类人群在没有任何推送的情况下会购买什么。

### 最后一项建议

因为这是一个毕业项目，你可以使用任何你认为合适的方法来分析数据。例如，
# 你可以搭建一个机器学习模型来根据人口统计数据和推送的种类来预测某人会花费多少钱。
# 或者，你也可以搭建一个模型来预测该顾客是否会对推送做出反应。
或者，你也可以完全不用搭建机器学习模型。你可以开发一套启发式算法来决定你会给每个顾客发出什么样的消息（比如75% 的35 岁女性用户会对推送 A 做出反应，对推送 B 则只有 40% 会做出反应，那么应该向她们发送推送 A）。


# 数据集

一共有三个数据文件：

* portfolio.json – 包括推送的 id 和每个推送的元数据（持续时间、种类等等）
* profile.json – 每个顾客的人口统计数据
* transcript.json – 交易、收到的推送、查看的推送和完成的推送的记录

以下是文件中每个变量的类型和解释 ：

**portfolio.json**
* id (string) – 推送的id
* offer_type (string) – 推送的种类，例如 BOGO、打折（discount）、信息（informational）
* difficulty (int) – 满足推送的要求所需的最少花费
* reward (int) – 满足推送的要求后给与的优惠
* duration (int) – 推送持续的时间，单位是天
* channels (字符串列表)

**profile.json**
* age (int) – 顾客的年龄 
* became_member_on (int) – 该顾客第一次注册app的时间
* gender (str) – 顾客的性别（注意除了表示男性的 M 和表示女性的 F 之外，还有表示其他的 O）
* id (str) – 顾客id
* income (float) – 顾客的收入

**transcript.json**
* event (str) – 记录的描述（比如交易记录、推送已收到、推送已阅）
* person (str) – 顾客id
* time (int) – 单位是小时，测试开始时计时。该数据从时间点 t=0 开始
* value - (dict of strings) – 推送的id 或者交易的数额

**注意：**如果你正在使用 Workspace，在读取文件前，你需要打开终端/命令行，运行命令 `conda update pandas` 。因为 Workspace 中的 pandas 版本不能正确读入 transcript.json 文件的内容，所以需要更新到 pandas 的最新版本。你可以单击 notebook 左上角橘黄色的 jupyter 图标来打开终端/命令行。  

下面两张图展示了如何打开终端/命令行以及如何安装更新。首先打开终端/命令行：
<img src="pic1.png"/>

然后运行上面的命令：
<img src="pic2.png"/>

最后回到这个 notebook（还是点击橘黄色的 jupyter 图标），再次运行下面的单元格就不会报错了。

In [10]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files

portfolio = pd.read_json('data/portfolio.json', orient='frame', lines=True)
profile = pd.read_json('data/profile.json', orient='frame', lines=True)
transcript = pd.read_json('data/transcript.json', orient='frame', lines=True)

In [12]:
portfolio

#id (string) – 推送的id
#offer_type (string) – 推送的种类，例如 BOGO、打折（discount）、信息（informational）
#difficulty (int) – 满足推送的要求所需的最少花费
#reward (int) – 满足推送的要求后给与的优惠
#duration (int) – 推送持续的时间，单位是天
#channels (字符串列表)

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [9]:
profile
#顾客info

,age,became_member_on,gender,id,income
0,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN
1,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0
2,118,20180712,None,38fe809add3b4fcf9315a9694bb96ff5,NaN
3,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0
4,118,20170804,None,a03223e636434f42ac4c3df47e8bac43,NaN
5,68,20180426,M,e2127556f4f64592b11af22de27a7932,70000.0
6,118,20170925,None,8ec6ce2a7e7949b1bf142def7d0e0586,NaN
7,118,20171002,None,68617ca6246f4fbc85e91a2a49552598,NaN
8,65,20180209,M,389bc3fa690240e798340f5a15918d5c,53000.0
9,118,20161122,None,8974fc5686fe429db53ddde067b88302,NaN
10,118,20170824,None,c4863c7985cf408faee930f111475da3,NaN
11,118,20150919,None,148adfcaa27d485b82f323aaaad036bd,NaN
12,58,20171111,M,2eeac8d8feae4a8cad5a6af0499a211d,51000.0
13,61,20170911,F,aa4862eba776480b8bb9c68455b8c2e1,57000.0
14,26,20140213,M,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0
15,62,20160211,F,31dda685af34476cad5bc968bdb01c53,71000.0
16,49,20141113,M,62cf5e10845442329191fc246e7bcea3,52000.0
17,118,20170801,None,744d603ef08c4f33af5a61c8c7628d1c,NaN
18,57,20171231,M,6445de3b47274c759400cd68131d91b4,42000.0
19,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0
20,40,20160504,F,440cf1fd7580490c971d8c651ed962af,71000.0
21,64,20170909,M,4b0da7e80e5945209a1fdddfe813dbe0,100000.0
22,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0
23,118,20170907,None,2b826eba31074a059d63b0ae8f50b7d5,NaN
24,42,20130811,M,f806632c011441378d4646567f357a21,69000.0
25,56,20180428,F,d058f73bf8674a26a95227db098147b1,88000.0
26,118,20170330,None,65aba5c617294649aeb624da249e1ee5,NaN
27,33,20170926,F,c6c9884912c645429f3333f912b55f44,52000.0
28,46,20170911,F,7429a044884842d6862f516c38b1156f,59000.0
29,59,20150121,M,ebe7ef46ea6f4963a7dd49f501b26779,41000.0
...,...,...,...,...,...
16970,67,20151107,M,a2e6029e17b6466187a40b66e333a73e,94000.0
16971,52,20180522,F,6e71b66784844d1ab8376ac8ab096d4b,75000.0
16972,44,20170119,F,e2fd53ed790240c586b3188f23542cca,51000.0
16973,30,20151012,M,08eb126ad33f447ca3ad076482445c05,57000.0
16974,59,20160113,F,f88e91a11d8f405b9a47ad3741415b83,71000.0
16975,61,20171231,F,1b4df4b48bf64727a4c445909aea1251,81000.0
16976,39,20160921,F,122c0c2a3c2540848f8c3fdc37e97639,54000.0
16977,118,20160609,None,eb7dd979f4644052a5c401a01f129132,NaN
16978,29,20170220,F,54bead4179c44b71acc4e8398181d183,58000.0
16979,63,20130922,F,a00058cf10334a308c68e7631c529907,52000.0
16980,118,20160901,None,5c686d09ca4d475a8f750f2ba07e0440,NaN
16981,84,20160629,M,1966fa40d2f84620b2b1b9b64f8e0209,93000.0
16982,118,20160415,None,d9ca82f550ac4ee58b6299cf1e5c824a,NaN
16983,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0
16984,75,20160716,F,392d23b2c958493197f647bedfe4f418,78000.0
16985,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0
16986,59,20170731,F,bf3069b178fe40d789dd027901bc406b,63000.0
16987,57,20160709,M,76ddbd6576844afe811f1a3c0fbb5bec,40000.0
16988,64,20180104,M,f653cf2d8bba42d0a53c2937ee2e5893,51000.0
16989,118,20180305,None,ca45ee1883624304bac1e4c8a114f045,NaN
16990,70,20160310,F,79edb810789c447e8d212a324b44cc16,39000.0
16991,118,20160116,None,a9a20fa8b5504360beb4e7c8712f8306,NaN
16992,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0
16993,60,20180505,M,cb23b66c56f64b109d673d5e56574529,113000.0
16994,118,20151211,None,c02b10e8752c4d8e9b73f918558531f7,NaN
16995,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0
16996,61,20180713,M,2cb4f97358b841b9a9773a7aa05a9d77,72000.0
16997,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0
16998,83,20160307,F,9dc1421481194dcd9400aec7c9ae6366,50000.0
16999,62,20170722,F,e4052622e5ba45a8b96b59aba68cf068,82000.0

In [13]:
transcript
#event (str) – 记录的描述（比如交易记录、推送已收到、推送已阅）
#person (str) – 顾客id
#time (int) – 单位是小时，测试开始时计时。该数据从时间点 t=0 开始
#value - (dict of strings) – 推送的id 或者交易的数额

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89}
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48}
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19}
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31}
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37}
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92}
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73}
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2}
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6}
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2}
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7}
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67}
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13}
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001}
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35}
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42}
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35}
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14}
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58}
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64}
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2}
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999}
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53}
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61}
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002}
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05}

```python

```